In [23]:
import pandas as pd 
tabela= pd.read_excel("base.xlsx")
display(tabela)

,Viagem,Data Pedido,Data Entrega,Prazo Entrega,Endereço,Nome Motorista,Sobrenome,Marca/Veículo,Valor do Frete Líquido,Km,Custo Combustível,Custo Manutenção,Custos Fixos,Unnamed: 13
0,1,2022-01-01,2022-01-11,11,"R. Teodoro Sampaio, 954 - Pinheiros, São Paulo...",Leandro,Coutinho,Scania - TRUCK,562.70,12.51,41.28,10.41,4.58,NaN
1,2,2022-01-01,2022-01-10,3,"Shopping Barra - Av. Centenário, 2992 - Barra,...",Fernanda,Rocha,Iveco - VUC,1220.10,20.49,86.05,15.91,20.05,NaN
2,3,2022-01-01,2022-01-04,10,"R. Teodoro Sampaio, 954 - Pinheiros, São Paulo...",Victor,Fonseca,Scania - 3/4,18.66,0.76,0.30,2.89,3.03,NaN
3,4,2022-01-01,2022-01-02,12,"R. Teodoro Sampaio, 954 - Pinheiros, São Paulo...",Julia,Freitas,Mercedes-Benz - TOCO,1054.71,19.91,85.63,24.67,6.89,NaN
4,5,2022-01-01,2022-01-06,6,"Av. Borges de Medeiros, 3120 - Praia de Belas,...",Frederico,Vidal,Mercedes-Benz - TOCO,38.00,5.11,1.53,4.28,1.79,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58975,58976,2023-12-30,2023-12-31,11,"Rua Antônio Lumack do Monte, 203 - 1 - Boa Via...",Filipe,Tabet,Mercedes-Benz - 3/4,651.75,26.55,82.31,28.87,19.17,NaN
58976,58977,2023-12-30,2023-12-31,8,"Av. Goiás Norte, 3.592 - quadra 2.1 - St. Mal....",Maria,Mello,Volvo - TOCO,452.10,7.93,25.37,11.10,8.74,
58977,58978,2023-12-30,2023-12-31,5,"Shopping Barra - Av. Centenário, 2992 - Barra,...",Carolina,Gusmão,Mercedes-Benz - 3/4,55.08,5.52,12.70,4.00,1.66,NaN
58978,58979,2023-12-30,2024-01-01,2,"R. Teodoro Sampaio, 954 - Pinheiros, São Paulo...",Poline,Limp,Ford - CARRETA,146.52,3.76,17.67,2.73,4.02,NaN
58979,58980,2023-12-30,2024-01-01,3,"R. Teodoro Sampaio, 954 - Pinheiros, São Paulo...",Bruno,Felippe,Mercedes-Benz - TOCO,175.63,3.03,11.80,10.23,3.06,NaN

In [24]:
tabela.describe()

,Viagem,Data Pedido,Data Entrega,Prazo Entrega,Valor do Frete Líquido,Km,Custo Combustível,Custo Manutenção,Custos Fixos
count,58980.000000,58980,58980,58980.000000,58980.000000,58980.000000,58980.000000,58980.000000,58980.000000
mean,29490.500000,2023-02-18 12:14:52.126144512,2023-02-23 08:48:51.271617280,6.500661,230.467185,7.627316,19.426054,8.314301,7.570520
min,1.000000,2022-01-01 00:00:00,2022-01-02 00:00:00,1.000000,0.900000,0.000000,0.000000,0.010000,0.000000
25%,14745.750000,2022-09-04 00:00:00,2022-09-08 00:00:00,3.000000,76.167500,2.010000,2.990000,2.910000,2.130000
50%,29490.500000,2023-03-10 00:00:00,2023-03-16 00:00:00,6.000000,163.600000,5.680000,10.670000,6.560000,5.680000
75%,44235.250000,2023-08-08 00:00:00,2023-08-13 00:00:00,10.000000,310.665000,11.660000,27.700000,12.340000,11.360000
max,58980.000000,2023-12-30 00:00:00,2024-01-01 00:00:00,12.000000,2095.800000,44.240000,177.380000,39.980000,42.230000
std,17026.203775,NaN,NaN,3.451109,220.357751,6.831773,22.869509,6.694189,6.706057

In [25]:
from scipy.stats import skew, kurtosis
tabela= pd.read_excel("base.xlsx")

assimetria= skew(tabela["Viagem"])
curtose = kurtosis(tabela["Viagem"])
print("Assimetria:", assimetria)
print("Curtose:", curtose)

Assimetria: 0.0
Curtose: -1.2000000006899254

In [26]:
assimetria= skew(tabela["Prazo Entrega"])
curtose = kurtosis(tabela["Prazo Entrega"])
print("Assimetria:", assimetria)
print("Curtose:", curtose)

Assimetria: 0.0023547017313065126
Curtose: -1.222617762230585

In [27]:
assimetria= skew(tabela["Valor do Frete Líquido"])
curtose = kurtosis(tabela["Valor do Frete Líquido"])
print("Assimetria:", assimetria)
print("Curtose:", curtose)

Assimetria: 1.980786227636433
Curtose: 5.42477312771546

In [28]:
assimetria= skew(tabela["Km"])
curtose = kurtosis(tabela["Km"])
print("Assimetria:", assimetria)
print("Curtose:", curtose)

Assimetria: 1.0757669412638369
Curtose: 0.6531130905981071

In [29]:
assimetria= skew(tabela["Custo Combustível"])
curtose = kurtosis(tabela["Custo Combustível"])
print("Assimetria:", assimetria)
print("Curtose:", curtose)

Assimetria: 1.8572579192080618
Curtose: 3.8609949041657154

In [30]:
assimetria= skew(tabela["Custo Manutenção"])
curtose = kurtosis(tabela["Custo Manutenção"])
print("Assimetria:", assimetria)
print("Curtose:", curtose)

Assimetria: 0.9852535910762299
Curtose: 0.43230105418347575

In [31]:
assimetria= skew(tabela["Custos Fixos"])
curtose = kurtosis(tabela["Custos Fixos"])
print("Assimetria:", assimetria)
print("Curtose:", curtose)

Assimetria: 1.1091808375944685
Curtose: 0.7875449097371923

In [32]:
import statistics
moda= statistics.mode(tabela["Prazo Entrega"])
print(f"Moda: {moda}")

Moda: 10

In [33]:
moda= statistics.mode(tabela["Valor do Frete Líquido"])
print(f"Moda: {moda}")

Moda: 50.4

In [35]:
moda= statistics.mode(tabela["Custo Manutenção"])
print(f"Moda: {moda}")

Moda: 2.06

In [36]:
moda= statistics.mode(tabela["Custos Fixos"])
print(f"Moda: {moda}")

Moda: 0.14

In [37]:
from scipy.stats import binom
n=10
k=0
p=0.3
probabilidade= binom.pmf(k,n,p)
porcentagemArredondado= round((probabilidade)*100)
print("A probabilidade de nenhuma entrega ser atrasada em uma amostra de 10 é:", porcentagemArredondado,"%")

A probabilidade de nenhuma entrega ser atrasada em uma amostra de 10 é: 3 %

In [1]:
from scipy.stats import binom
n=10
k=1
p=0.3
probabilidade= binom.pmf(k,n,p)
porcentagemArredondado= round((probabilidade)*100)
print("A probabilidade de 1 entrega ser atrasada em uma amostra de 10 é:", porcentagemArredondado,"%")

A probabilidade de 1 entrega ser atrasada em uma amostra de 10 é: 12 %